# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables / secrets
.env

# Large data files (optional)
data/*.csv

# Tableau temporary files
*.hyper
*.tds
*.tdsx

# VS Code settings
.vscode/
